@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Black.ttf') format("truetype");
    font-weight: 900;
}